.knob {
    width: 320px;
    height: 320px;
    background: rgba(52, 93, 103, 0.5);
    display: flex;
    align-items: center;
}

.dial {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: red;
    /*transform: translate(50%, 50%);*/
    margin: auto;
}

.dial-indicator {
    color: white;
    text-align: center;
    display: block;
    padding-top: 8px;
}
